body{
    margin: 0;
}
h1{
    color:red;
}

#start{
    color:red;
    background-color: #D3D3D3;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px;
    text-align:center;
    padding: 100px;
    font-size: 100px;
    border: transparent;
    position: relative;
    top: 200px;
}
#start:hover{
    color:lime;
    background-color:#598BAF;
}
#goBackSimulation{
    color:white;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    left:10px;
    bottom:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#goBackSimulation:hover{
    text-decoration: underline;
}
#goBackAbout{
    color:white;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    left:10px;
    bottom:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#goBackAbout:hover{
    text-decoration: underline;
}

#infectionRate{
    color:red;
    background-color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    position: relative;
    top: 325px;
    padding: 10px;
}


#recoveryRate{
    color: blue;
    background-color:silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    position: relative;
    top: 350px;
    padding: 10px;
}

#vaccinationChance{
    color: forestgreen;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    position: relative;
    top: 375px;
    padding: 10px;
}

#explanation{
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#intro{
    color:lime;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#graphdescription{
    color:seagreen;
    font-family:monospace;
    
}
#legenddescription{
    color:seagreen;
    font-family:monospace
}
.circletype{
    color:seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#buttonInstructions{
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#gotosimulation{
    font-size: 65px;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}
#gotosimulation:hover{
    background-color: orange;
    color:black;
    text-decoration: underline;
}

#title{
    font-size: 100px;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 0px;
    color: white;
    
}
#title:hover{
    color:#00B0C7;
}

#infectionsimulator{
    font-size: 30px;
    text-decoration: none;
    position:relative;
    top: 100px;
    color: royalblue;
}


#infectionsimulator:hover{
    text-decoration: underline;
    color: #DA9100;
    
}

#about{
    font-size: 30px;
    text-decoration: none;
    color: skyblue;
    position: relative;
    top: 50px;
}
#about:hover{
    text-decoration: underline;
    color: #DA9100;
}

#copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    color: gray;
}

#showHideStat{
    background: rgba(200, 29, 1, 0.2);
    position: fixed;
    bottom: 10px;
    right: 0px;
    font-size: 20px;
    color:rgba(255,255,255,1);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#showHideStat:hover{
    opacity: 1;
    background: rgba(232, 126, 4, 0.2);
    color: cyan;
}